{% extends "base_generic.html" %}

{% block title %}

<title>Index</title>

{% endblock %}

{% block content %}
    <h1>Jobs Home</h1>
    <p>
      Welcome to Jobs, a website developed by
      <em>US</em>!
    </p>
    <h2>Dynamic content</h2>
    <p>Here's our stats</p>
    <ul>
      <li><strong>Job Posts:</strong> {{ num_jobs }}</li>
      <li><strong>Courses:</strong> {{ num_courses }}</li>
      <li><strong>Employees</strong> {{ num_users_employee }}</li>
      <li><strong>Companies:</strong> {{ num_company }}</li>
      <li><strong>Users:</strong> {{ num_users }}</li>
    </ul>
    <p>
      You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.
    </p>
  
{% endblock %}
